body,
html {
  background: url("./images/windturbine-unsplash.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: "Quicksand", sans-serif;

  height: 100%;
}
